<?xml version='1.0' encoding='utf-8'?>
<plugin id="es.seogirona.signaturecapture" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>SignatureCapture</name>
  <description>Signature and Biometric Data Capture</description>
  <license>Apache-2.0</license>

  <js-module src="www/SignatureCapture.js" name="SignatureCapture">
    <clobbers target="cordova.plugins.SignatureCapture" />
  </js-module>

  <platform name="ios">
    <preference name="UseSwiftLanguageVersion" value="5.0" />

    <config-file target="config.xml" parent="/*">
      <feature name="SignatureCapture">
        <param name="ios-package" value="SignatureCapture" />
      </feature>
    </config-file>

    <source-file src="src/ios/SignatureCapture.swift" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SignatureCapture">
        <param name="android-package" value="es.seogirona.signaturecapture.SignatureCapture" />
      </feature>
    </config-file>

    <!-- Ajusta estos paths a tu estructura real de Android -->
    <source-file src="src/android/SignatureCapture.java" target-dir="src/es/seogirona/signaturecapture" />
  </platform>

</plugin>
